In [4]:
import pandas as pd

In [ ]:
import chardet
with open("../spam.csv", 'rb') as file:
    print(chardet.detect(file.read()))

{'encoding': 'Windows-1252', 'confidence': 0.7257971165545478, 'language': ''}

In [5]:
data_df = pd.read_csv("https://full-stack-bigdata-datasets.s3.eu-west-3.amazonaws.com/Deep+Learning/project/spam.csv", encoding="Windows-1252")
data_df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

I spy with my little eye, a lot of NaNs -> delete cols?

In [6]:
data_df.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [7]:
len(data_df)

5572

In [10]:
for unnamed in ["Unnamed: 2","Unnamed: 3","Unnamed: 4"]:
    print(data_df[data_df[unnamed].notna()][unnamed])

95                                            PO Box 5249
281      the person is definitely special for u..... B...
444      HOWU DOIN? FOUNDURSELF A JOBYET SAUSAGE?LOVE ...
671      wanted to say hi. HI!!!\" Stop? Send STOP to ...
710       this wont even start........ Datz confidence.."
899                                           PO Box 5249
1038                                                   GN
1127                                             .;-):-D"
1266    just been in bedbut mite go 2 thepub l8tr if u...
1384     bt not his girlfrnd... G o o d n i g h t . . .@"
1428                                        I'll come up"
1559     don't miss ur best life for anything... Gud n...
1637     just as a shop has to give a guarantee on wha...
1669     But at d end my love compromised me for every...
1675     the toughest is acting Happy with all unspoke...
1936                                  smoke hella weed\""
1937                       \" not \"what i need to do.\""
1997    JUST GOT PAYED2DAY & I HAVBEEN GIVEN Aå£50 PAY...
2087     justthought iåÕd sayhey! how u doin?nearly th...
2170    JUST REALLYNEED 2DOCD.PLEASE DONTPLEASE DONTIG...
2235                         u hav2hear it!c u sn xxxx\""
2255                                         I don't mind
2406     Dont Come Near My Body..!! Bcoz My Hands May ...
2791    Well there's still a bit left if you guys want...
2970      this wont even start........ Datz confidence.."
3110           but dont try to prove\" ..... Gud mrng..."
3145              SHE SHUDVETOLD U. DID URGRAN KNOW?NEWAY
3239           but watever u shared should be true\"...."
3506     like you are the KING\"...! OR \"Walk like yo...
3525                                     HAD A COOL NYTHO
3547     don't miss ur best life for anything... Gud n...
3640                          PO Box 1146 MK45 2WT (2/3)"
3758     \"It is d wonderful fruit that a tree gives w...
3788                     we made you hold all the weed\""
3793          but dont try to prove it..\" .Gud noon...."
3881          but dont try to prove it..\" .Gud noon...."
4130     its a miracle to Love a person who can't Love...
4224                                       Gud night...."
4454     bt not his girlfrnd... G o o d n i g h t . . .@"
4455     that's the tiny street where the parking lot is"
4570    PROBPOP IN & CU SATTHEN HUNNY 4BREKKIE! LOVE J...
4601     hopeSo hunny. i amnow feelin ill & ithink i m...
4668                                             GOD said
4859     always give response 2 who cares 4 U\"... Gud...
4992     HOPE UR OK... WILL GIVE U A BUZ WEDLUNCH. GO ...
5048                                                   GN
5079     b'coz nobody will fight for u. Only u &amp; u...
5081                                  DEVIOUSBITCH.ANYWAY
5264     bt not his girlfrnd... G o o d n i g h t . . .@"
5268     ENJOYIN INDIANS AT THE MO..yeP. SaLL gOoD Heh...
Name: Unnamed: 2, dtype: object
95                            MK17 92H. 450Ppw 16"
281                               why to miss them
899                           MK17 92H. 450Ppw 16"
1038                                            GE
2170      U NO THECD ISV.IMPORTANT TOME 4 2MORO\""
2255      i wil tolerat.bcs ur my someone..... But
3145     ILLSPEAK 2 U2MORO WEN IM NOT ASLEEP...\""
3506            whoever is the KING\"!... Gud nyt"
3525                                TX 4 FONIN HON
4668              \"OH No! COMPETITION\". Who knew
5048                                            GE
5081                                IåÕL CALL U\""
Name: Unnamed: 3, dtype: object
281                         just Keep-in-touch\" gdeve.."
1038                                              GNT:-)"
2255     Never comfort me with a lie\" gud ni8 and swe...
3525                  CALL 2MWEN IM BK FRMCLOUD 9! J X\""
4668      one day these two will become FREINDS FOREVER!"
5048                                              GNT:-)"
Name: Unnamed: 4, dtype: object

There aren't many of those, I'll manually fix them so they are part of the "v2" column. I've actually gained new rows this way: The quotes were turning many rows into strings.

In [15]:
data_df = pd.read_csv("../fixed_spam_data.csv", encoding="Windows-1252")
data_df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [16]:
data_df.isna().sum()

v1               0
v2               0
Unnamed: 2    5573
Unnamed: 3    5573
Unnamed: 4    5573
dtype: int64

In [17]:
for unnamed in ["Unnamed: 2","Unnamed: 3","Unnamed: 4"]:
    print(data_df[data_df[unnamed].notna()][unnamed])

Series([], Name: Unnamed: 2, dtype: float64)
Series([], Name: Unnamed: 3, dtype: float64)
Series([], Name: Unnamed: 4, dtype: float64)

In [18]:
len(data_df)

5573

In [19]:
data_df = data_df[["v1", "v2"]]
data_df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
data_df = data_df.rename(columns=dict(v1="labels", v2="docs"))
data_df.head()

  labels                                               docs
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
data_df["labels"].value_counts()

labels
ham     4826
spam     747
Name: count, dtype: int64

In [ ]:
data_df.describe()

       labels                    docs
count    5573                    5573
unique      2                    5173
top       ham  Sorry, I'll call later
freq     4826                      30

In [23]:
data_df = data_df.drop_duplicates(subset=["docs"])
len(data_df)

5173

In [24]:
doc_lens = data_df.docs.apply(lambda doc: len(doc))
doc_lens.describe()

count    5173.000000
mean       79.851150
std        58.657765
min         2.000000
25%        36.000000
50%        61.000000
75%       120.000000
max       910.000000
Name: docs, dtype: float64

In [26]:
data_df.to_csv("../Data/better_data.csv", index=False)